LOG_LEVEL=INFO

DB_HOST=postgres
DB_PORT=5432
DB_NAME=music_metadata
DB_USER=dsp
DB_PASSWORD=dsp_123

SPOTIFY_CLIENT_ID=5013c18194cc4b6f8505b0bb3e7d97f1
SPOTIFY_CLIENT_SECRET=b1e95d534cd5405baeff3969bcead48a

YOUTUBE_API_KEY=AIzaSyC0JXRRyQuRUWuY2vNa6hd0yrYEYj4aUlU
