# API clients
requests==2.32.3
google-api-python-client==2.178.0
google-auth==2.40.3
spotipy==2.25.1

# Data processing
pandas==2.2.3

# Database
SQLAlchemy==1.4.54
psycopg2-binary==2.9.10

# env
python-dotenv==1.1.0